@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

textarea {
    font-family: "Berkeley Mono", monospace !important;
}

* {
    font-family: "Inter", sans-serif;
}

*::selection {
    background: black;
    color: white;
}
